POSTGRES_USER=app
POSTGRES_PASSWORD=
POSTGRES_DB=financement
POSTGRES_PORT=4432

REDIS_PORT=4379

DATABASE_URL=postgresql://app:password@localhost:4432/financement?schema=public
REDIS_URL=redis://localhost:4379

PORT=4201
FRONTEND_URL=http://localhost:4200

NEXT_PUBLIC_API_URL=http://localhost:4201
